@model RoleViewModel

<form asp-action="CreateRole" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <input type="submit" />
    </div>
</form>