@model UserViewModel

<form asp-action="CreateUser" method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="FullName"></label>
        <input asp-for="FullName" />
    </div>
    <div>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>
    <div>
        <label asp-for="RolesName"></label>
        <select asp-items="@ViewBag.RolesList" asp-for="RolesName" multiple></select>
    </div>
    <div>
        <input type="submit" />
    </div>
</form>