@model EditClaimViewModel

<form asp-action="EditClaim" method="post">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="CurrentClaimType" />
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="ClaimType"></label>
        <input asp-for="ClaimType" />
    </div>
    <div>
        <label asp-for="ClaimValue"></label>
        <input asp-for="ClaimValue" />
    </div>
    <div>
        <input type="submit" />
    </div>
</form>