@model RoleViewModel

<form asp-action="EditRole" method="post">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <input type="submit" />
    </div>
</form>