@if (string.IsNullOrEmpty((string)ViewBag.PopUpMessage) == false && string.IsNullOrWhiteSpace((string)ViewBag.PopUpMessage) == false)
{
    <p>
        @ViewBag.PopUpMessage
    </p>
}

<a asp-action="UserIndex">
    مدیریت کاربران
</a>
<a asp-action="RoleINdex">
    مدیریت نقش ها
</a>