<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @if (IsSectionDefined("Title"))
        {
            @RenderSection("Title", false)
        }
        else
        {
            <text>
                سایت اونیکس
            </text>
        }
    </title>
</head>
<body>
    @RenderBody()
</body>
</html>
