@model ForgetPasswordViewModel

<form asp-action="ForgetPassword" method="post">
    <p>
        برای بازیابی رمز عبور، شماره موبایل خود را وارد کنید.
    </p>
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
    </div>
    <div>
        <input type="submit" />
    </div>
</form>