@using Microsoft.AspNetCore.Identity
@using Onyx.Models.Identity.Entities
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager

<nav>
    <ul>
        <li>
            <a asp-controller="Account" asp-action="Register">
                ثبت نام
            </a>
        </li>
        <li>
            @if (_signInManager.IsSignedIn(User))
            {
                <a asp-controller="Account" asp-action="SignOut">
                    خروج
                </a>
            }
            else
            {
                <a asp-controller="Account" asp-action="SignIn">
                    ورود
                </a>
            }
        </li>
    </ul>
</nav>